@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

html {
  scroll-behavior: smooth;
  font-family: 'League Spartan', sans-serif;

  }

  body {
    margin: 0;
    font-family: 'League Spartan', sans-serif;
  }

/*MENU*/
  header {
    background: #fff;
    color: #343434;
    padding: 5px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }
  header nav a {
    color: #343434;
    margin-left: 20px;
    text-decoration: none;
    transition: color 0.3s;
  } 
  header nav a:hover {
    background-color: #33673B;
    padding: 5px;
    border-radius: 5px;
  }

/*TODAS AS SECTION*/
  section {
    padding: 20px;
  }

  /*INTRO*/
  .hero {
    text-align: center;
    background-color: #33673B;
    height: 95vh;
  }
  .inicial_container{
    margin: 100px 50px;
    width: 700px;

  }
  .hero img{
    width: 500px;
     border-radius: 50px;
     display: flex;
     justify-content: center;  
     align-items: center;
     margin: -500px 800px;

  }
  .hero h2 {
    color: #ffff;
    font-size:50px;
    letter-spacing: 4px;

    margin-bottom: -50px;
  }
  .hero p {
    font-size: 20px;
    width: 590px;
    margin: 60px auto;
  }
  .hero a {
    margin: 0 auto;
    background-color: #16a34a;
    color: white;
    padding:15px;
    border-radius: 15px;
    font-size: 18px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }

  .hero a:hover {
    background-color: #15803d;
  }


/*SOBRE*/
.sobre{
  background-color: #758E4F;
  height: 90vh;
}
  .cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 15px;
  }

  .card {
    background-color: white;
    padding: 25px;
    border-radius:20px;
    box-shadow: 0 6px 28px rgba(0, 0, 0, 0.30);
  }
  .text-center {
    text-align: center;
  }
  .text-center h3{
    color: #ffff;
    font-size:50px;
    letter-spacing: 4px;
    font-family: "Alfa Slab One", serif;
  }
  .card h4 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .card p {
    font-size:17px;
  }
 
/*CANAL YOUTUBE*/
  .canal{
    background-image: url('../bacgroun_youtube.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
  }
  .inicial_canal{
    margin: 130px 776px;
    width: 600px;

  }
  .canal img{
     width: 450px;
     border-radius: 200px;
     display: flex;
     justify-content: center;  
     align-items: center;
     margin: -360px 170px;

  }
  .canal h3 {
    color: #ffff;
    font-size:40px;
    letter-spacing: 4px;
    text-align: center;
    margin: 0 auto;
  }
  .canal a{
    color: #6F9C54;
    text-decoration: none;
  }

/*PODCAST*/
.carrossel-container {
  background-image: url('../background_podcast.png');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 80vh;
   overflow: hidden;
   position: relative;
  }
  .carrossel {
    display: flex;
    transition: transform 0.4s ease;
  }
  .slide {
    width: 100vw; /* ocupa 100% da largura da tela */
    flex-shrink: 0; /* impede encolhimento */
    text-align: center;

  }

  .seta {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 20px;
    padding: 2px 5px;
    cursor: pointer;
    z-index: 1;
  }
  .seta.esquerda {
    left: 10px;
  }
  .seta.direita {
    right: 10px;
  }
  .seta.invisivel {
    display: none;
  }


  .logo_animacast{
    width: 400px;
    margin: 0 auto;
    display: flex;
  
  }
  .text_podcast{
    width: 500px;
    height: 100px;
    padding: 20px;
    background-color: #FFE0AE;
    border-radius: 20px;
    margin: 30px auto;
  }
  .text_podcast h3{
    font-size: 23px;
    text-align: center;
    top: 30px;
 
   
  }
  .text_podcast span{
    color: #6F9C54;
  }
  .estudante_podcast{
    width: 350px;
    margin: 0 -25px;
    display: flex;
  }

  .text_preview{
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: #ba7911;
    border-radius: 20px;
    margin: 80px -10px;

  }
 .video-container {
    margin-top: 60px;
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 30%;
  }




/*APP*/
  .app{
   background-color: #33673B;
    height: 100vh;
  }
  .text-app {
    text-align: center;
  }
  .text-app h3{
    color: #ffff;
    font-size:50px;
    letter-spacing: 4px;
   

  }
  .cards-tela {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  }
  .card_mokup {
    margin: 0 auto;
    border-radius:50px;
  }
  .card_mokup img{
    
    width: 200px;
    display: flex;
    margin: 0 auto;
  }


  footer {
    background: #fff;
    color: #343434;
    padding: 15px;
    text-align: center;
    font-size: 15px;
  }

  footer a {
    color: #16a34a;
    text-decoration:none;
  }
